giusto/test.wsdl


<definitions name="CurrencyConversionService"
             targetNamespace="http://example.com/soap"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://example.com/soap"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <!-- Tipi definiti -->
    <types>
        <xsd:schema targetNamespace="http://example.com/soap">
            <xsd:element name="ConvertCurrencyRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="amount" type="xsd:float"/>
                        <xsd:element name="currency" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ConvertCurrencyResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    
    <message name="ConvertCurrencyRequest">
        <part name="parameters" element="tns:ConvertCurrencyRequest"/>
    </message>
    <message name="ConvertCurrencyResponse">
        <part name="parameters" element="tns:ConvertCurrencyResponse"/>
    </message>
    
    <portType name="CurrencyConversionPortType">
        <operation name="convertCurrency">
            <input message="tns:ConvertCurrencyRequest"/>
            <output message="tns:ConvertCurrencyResponse"/>
        </operation>
    </portType>
    
    <binding name="CurrencyConversionBinding" type="tns:CurrencyConversionPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="convertCurrency">
            <soap:operation soapAction="http://example.com/soap/convertCurrency"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    
    <service name="CurrencyConversionService">
        <port name="CurrencyConversionPort" binding="tns:CurrencyConversionBinding">
            <soap:address location="http://localhost/your-server-path/index.php"/>
        </port>
    </service>
</definitions>
